
body{
    font-family: 'Roboto', sans-serif;
    background-color: #F8F8FF;
}

header{
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #000;
    background-blend-mode: multiply,multiply;
    color: #F0FFFF;
    padding: 2px;
    text-align: center;
}

div{
    margin: 60px;
}

.foto{
    float: left;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin-right: 50px; 
}

.caixa{
	top: 48px;
    background: rgba(0,0,0,0.6);
	width: 500px;
    margin-bottom: 0px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 200px 30px 40px;
}

.caixa h2{
    text-align: center;
    color: #fff;
}

.caixa p{
    color: #fff;
}

.repositorio{
    border: 3px solid;
    width: 20%;
    display: inline-block;
    margin-bottom: auto;
}

.li{
    list-style:none; 
    margin-bottom: 10px;
    padding-right: 10px;
}

a{
    text-decoration: none;
    color: #708090;
}

.materias{
    border:3px solid;
    text-align: center; 
    padding: 10px;
    height: 570px;
    width: 60%;
    display: inline-block;
    margin-bottom: auto;
    margin-left: 190px;
}

.materias h3{
    text-align: center;
}

.materias h4{
    text-align: center;
}

.materias h5{
    text-align: center;
}

.materias li{
    text-align: center;
    text-decoration: none;
    display: block;
}

.diaria{
    border:3px solid;
    text-align: center; 
    padding: 10px;
    height: 300px;
    position: relative;
    margin-bottom: auto;
    margin-top: auto;
}

.ima{
    width: 200px;
    height: 150px;
    padding: 5px;
    border-radius: 25%;
}

article{
	width: 264px;
    float: left;
	margin-right: 24px;
}

.footer{
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #000;
    background-blend-mode: multiply,multiply;
    text-align: center;
    padding: 2px;
}

p{
    color: #F0FFFF;
}

.container{
    display: flex;
    margin-top: auto;
}